<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:web="http://java.sun.com/xml/ns/javaee"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="WebApp_ID" version="2.5">
  <display-name>蓝星微信支付样例</display-name>

  <!-- make another brand new world! -->

  <servlet>
    <servlet-name>AlipayNotifyGatewayServlet</servlet-name>
    <servlet-class>com.github.cuter44.alipay.webinterface.AlipayNotifyGatewayServlet</servlet-class>
    <init-param> 
        <description>DEBUG SWITCH: If true, content of NotifyBase.getString() & .getProperties() will be dumped to container's log.</description>
        <param-name>com.github.cuter44.alipay.notifygateway.dump</param-name> 
        <param-value>false</param-value> 
    </init-param>
    <init-param> 
        <description>DEBUG SWITCH: If true, gateway will run in DRY-RUN mode.(just send "success" to alipay server but do nothing  else)</description>
        <param-name>com.github.cuter44.alipay.notifygateway.dryrun</param-name> 
        <param-value>false</param-value> 
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlipayNotifyGatewayServlet</servlet-name>
    <url-pattern>/gateway</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>   
