<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:web="http://java.sun.com/xml/ns/javaee"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="WebApp_ID" version="2.5">
  <display-name>蓝星微信支付样例</display-name>

  <!-- make another brand new world! -->

  <servlet>
    <servlet-name>GetOpenId</servlet-name>
    <servlet-class>com.github.cuter44.wxpay.servlet.GetOpenId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOpenId</servlet-name>
    <url-pattern>/get-openid.api</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JSAPISigner</servlet-name>
    <servlet-class>com.github.cuter44.wxpay.servlet.JSAPISigner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSAPISigner</servlet-name>
    <url-pattern>/jsapi-signer.api</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>   
