# wxpay-sdk configure file
# using by wxcp module

# File(s) to load certificate for https://api.weixin.qq.com or other alike.
# Usually named `GeoTrustGlobalCA.crt`, provided along with the source
# or binary, or you can download from GeoTrust's official site.
#
# Wxpay-sdk is programed not to load system trust storage to improve safety
# and performance. If this config is unset, you will properly encountered a
# SSL exception.
# So do not change this unless you fully understand what you are doing.
# Both colon(:) and semicolon(;) can be seperators.
LOAD_TRUSTS=/GeoTrustGlobalCA.crt

# Turn on/off exception while wx server seponse a fail.
#
# true - throw corresponding exception on abnormal.
# false - return response whatever, invoker is responisible to check fails.
# This functionality is not yet implemented, so it is always `true`.
EXCEPTION_ON_FAIL=true

# Your wx croporation account credentials.
#
# Which you acquires from your https://qy.weixin.qq.com console.
corpid=wx67f201a851066c5c
corpsecret=9efe892ad890a5aa61e3xxxxxxxxxxxx

# Access token provider class
# 
# This config enables you to select a way retrieving access_token,
# direct request to wx server or using built-in distributing mechanism,
# or even self-implemented.
# defaults to com.github.cuter44.wxcp.util.ATCoreCp
#AT_PROVIDER_CP=com.github.cuter44.wxcp.util.ATCoreCp

# Upstream URL used by such as ATSatellite to know where to retrieve tokens.
# Needed only if ATSatellite (or alike) is selected as the maintainer.
# Other implemention may or may not honor this 
AT_UPSTREAM_CP=http://127.0.0.1:8080/wxpay-sdk/corp-token.api
JT_UPSTREAM_CP=http://127.0.0.1:8080/wxpay-sdk/corp-ticket.api

# Besides, any other property synonym with any request parameter that
# being passed to wx server, can be set here.
# Preset value here can all be overrided programtically, using
# `req.setParameter()` or other setter likewise.

# After all, don't forget to change filename to wxcp.properties` and
# put it in your classpath root, so your application can access it.

