# wxpay-sdk configure file
# used by wxpay|wxmp module

# SSL SAFETY FONFIGURATION

# SSL algorithm to use by SSLContext.
#
# Available values are SSLv3, TLSv1, TLSv1.1, TLSv1.2
# Default to TLSv1 to be compatible with hc provider. wx API server can bear
# with up to TLSv1.2.
#SSL_ALGORITHM=TLSv1

# File(s) to load certificate for https://api.weixin.qq.com or other alike.
# Usually named `GeoTrustGlobalCA.crt`, provided along with the source
# or binary, or you can download from GeoTrust's official site.
#
# Wxpay-sdk is programed not to load system trust storage to improve safety
# and performance. If this config is unset, you will properly encountered a
# SSL exception.
# So do not change this unless you fully understand what you are doing.
# Both colon(:) and semicolon(;) can be seperators.
LOAD_TRUSTS=/GeoTrustGlobalCA.crt

# File to load your client certificate, which is ONLY required by
# wxpay/refund and ...(forgot).
#
# Usually it is named `apilicent_cert.p12`, which is one of credentials that
# Tencent issued to you, on the time you applying the Wechat Pay service.
# If you are not going to use those two APIs, nor you don't have such a file,
# please quote this line to skip.
# If you are purposing a multi-accounts environment, you MUST quote this line
# then programatically config the identification per-request. For detailed
# guidelines please refer to wiki.
LOAD_IDENTIFICATION=/apiclient_cert.p12

# TRANSACTION CONFIGURATION

# Turn on/off response notify sign check(including notify and SPI invoke)
#
# Shutting down signature verifing can improve performance, but reduce safety.
# `false` by default.
SKIP_SIGN_VERIFY=false

# Turn on/off response status code check(including notify and SPI invoke)
SKIP_STATUS_CODE_CHECK=false

# Turn on/off exception while wx server seponse a fail.
#
# true - throw corresponding exception on abnormal.
# false - return response whatever, invoker is responisible to check fails.
# This functionality is not yet implemented, so it is always `true`.
EXCEPTION_ON_FAIL=true

# WX CREDENTIALS

# Your wx media-public/pay account credentials.
#
# Which you acquires from your https://mp.weixin.qq.com console.
# Leave blank or quote on the one you don't have.
appid=wx67f201a851066c5c
SECRET=9efe892ad890a5aa61e3xxxxxxxxxxxx
mch_id=10027922
KEY=gdkxzxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Access token provider class
# 
# This config enables you to select a way retrieving access_token,
# direct request to wx server or using built-in distributing mechanism,
# or even self-implemented.
# defaults to com.github.cuter44.wxmp.util.ATCore
#AT_PROVIDER=com.github.cuter44.wxmp.util.ATCore

# Upstream URL used by such as ATSatellite to know where to retrieve tokens.
# Needed only if ATSatellite (or alike) is selected as the maintainer.
# Other implemention may or may not honor this 
AT_UPSTREAM=http://127.0.0.1:8080/wxpay-sdk/token.api

# MISCELLANEOUS

# Notify SPI callback by wxpay after user pay.
#
# Set to the URL which mapped to `com.github.cuter44.wxpay.servlet.Notify`.
# ONLY needed while running in demo mode.
# In practice, this is set per-request.
notify_url=http://www.example.com/wxpay/notify.spi

# Besides, any other property synonym with any request parameter that
# being passed to wx server, can be set here.
# Preset value here can all be overrided programtically, using
# `req.setParameter()` or other setter likewise.

# After all, don't forget to change filename to `wxpay.properties` and
# put it in your classpath root, so your application can access it.

