<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:web="http://java.sun.com/xml/ns/javaee"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="WebApp_ID" version="2.5">
  <display-name>wxpay-sdk demos</display-name>

  <!-- wxpay -->
  <servlet>
    <servlet-name>WxpayNotifyGatewayServlet</servlet-name>
    <servlet-class>com.github.cuter44.wxpay.servlet.WxpayNotifyGatewayServlet</servlet-class>
    <init-param> 
        <description>DEBUG SWITCH: If true, internal Properties storing parsed content will be dumped to container's stdout.</description>
        <param-name>com.github.cuter44.wxpay.notifygateway.dump</param-name> 
        <param-value>true</param-value> 
    </init-param>
    <init-param> 
        <description>DEBUG SWITCH: If true, gateway will run in DRY-RUN mode.(just send "success" to wxpay server but do nothing else)</description>
        <param-name>com.github.cuter44.wxpay.notifygateway.dryrun</param-name> 
        <param-value>true</param-value> 
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxpayNotifyGatewayServlet</servlet-name>
    <url-pattern>/notify.api</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>JSAPISigner</servlet-name>
    <servlet-class>com.github.cuter44.wxpay.servlet.JSAPISigner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSAPISigner</servlet-name>
    <url-pattern>/jsapi-signer.api</url-pattern>
  </servlet-mapping>

  <!-- wxmp -->
  <servlet>
    <servlet-name>ATDistribute</servlet-name>
    <servlet-class>com.github.cuter44.wxmp.servlet.ATDistribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ATDistribute</servlet-name>
    <url-pattern>/token.api</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JTDistribute</servlet-name>
    <servlet-class>com.github.cuter44.wxmp.servlet.JTDistribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JTDistribute</servlet-name>
    <url-pattern>/ticket.api</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SnsapiBase</servlet-name>
    <servlet-class>com.github.cuter44.wxmp.servlet.SnsapiBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SnsapiBase</servlet-name>
    <url-pattern>/snsapi-base.api</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SnsapiUserinfo</servlet-name>
    <servlet-class>com.github.cuter44.wxmp.servlet.SnsapiUserinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SnsapiUserinfo</servlet-name>
    <url-pattern>/snsapi-userinfo.api</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JSSDKConfig</servlet-name>
    <servlet-class>com.github.cuter44.wxmp.servlet.JSSDKConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSSDKConfig</servlet-name>
    <url-pattern>/jssdk-config.api</url-pattern>
  </servlet-mapping>

  <!-- wxmsg -->
  <servlet>
    <servlet-name>WxmsgGatewayServlet</servlet-name>
    <servlet-class>com.github.cuter44.wxmsg.servlet.WxmsgGatewayServlet</servlet-class>
    <init-param> 
        <description>DEBUG SWITCH: If true, internal Properties storing parsed content will be dumped to container's stdout.</description>
        <param-name>com.github.cuter44.wxmsg.msggateway.dump</param-name> 
        <param-value>true</param-value> 
    </init-param>
    <init-param> 
        <description>DEBUG SWITCH: If true, automatically accept Echos with no checks.</description>
        <param-name>com.github.cuter44.wxmsg.msggateway.acceptalllinkin</param-name> 
        <param-value>true</param-value> 
    </init-param>
    <init-param> 
        <description>DEBUG SWITCH: If true, reply text message by echoing same content.</description>
        <param-name>com.github.cuter44.wxmsg.msggateway.echotext</param-name> 
        <param-value>true</param-value> 
    </init-param>
    <init-param> 
        <description>DEBUG SWITCH: If true, reply fallback "success" as wx-spec instructs.</description>
        <param-name>com.github.cuter44.wxmsg.msggateway.replysuccess</param-name> 
        <param-value>true</param-value> 
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxmsgGatewayServlet</servlet-name>
    <url-pattern>/msg-gateway.spi</url-pattern>
  </servlet-mapping>

  <!-- wxcp -->
  <servlet>
    <servlet-name>CorpSnsapiBase</servlet-name>
    <servlet-class>com.github.cuter44.wxcp.servlet.CorpSnsapiBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpSnsapiBase</servlet-name>
    <url-pattern>/corp-snsapi-base.api</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ATDistributeCp</servlet-name>
    <servlet-class>com.github.cuter44.wxcp.servlet.ATDistributeCp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ATDistributeCp</servlet-name>
    <url-pattern>/corp-token.api</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JTDistributeCp</servlet-name>
    <servlet-class>com.github.cuter44.wxcp.servlet.JTDistributeCp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JTDistributeCp</servlet-name>
    <url-pattern>/corp-ticket.api</url-pattern>
  </servlet-mapping>

  <!-- common -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>   
